.col-xs-12
	= image_tag("apiotics_logo_640_300.png", class: "img-responsive center-block")
- i = 0
- @commands_array.each do |v|
	- if i.even?
		.row
			.col-md-12
				&nbsp;				
		.row
			.col-xs-6.text-center.cmd-div
				= link_to v.humanize, "#", class: "cmd", id: v, onclick: ''
			.col-xs-6.text-center.cmd-div
				= link_to @commands_array[i+1].humanize, "#", class: "cmd", id: @commands_array[i+1], onclick: ''
	- i += 1
.row-xs-12
	&nbsp
.row
	.col-xs-12.text-center#lock_div
		- if @command.lock != true
			= link_to "Ready", "#", class: "lock", id: "lock"
		- else
			= link_to "Locked", "#", class: "lock", id: "lock"